{{#resume.basics}}
  <div class='basics'>
    <div id='basics-left-content'>
      {{!-- note: this content should not appear or have any effect on styling, this is only to enable any automated content parsing --}}
      <div class='display-none'>
        {{#location}}
          <span class='address'>
            {{address}} {{city}} {{region}} {{postalCode}}
          </span>
        {{/location}}
        {{#if phone}}
          <span class='phone'>
            <a href="tel:{{phone}}">{{phone}}</a>
          </span>
        {{/if}}
      </div>
    </div>

    <div id='basics-center-content' style="display: flex; flex-direction: column; padding-bottom: 10px">
      <span class='name'>{{name}}</span>
      <span style="font-size: 15px;">{{location.city}}, {{location.country}}</span> 
    </div>

    <div id='basics-right-content'>
      <div class='contact-block'>
        {{#if email}}
          <div>
            <span class='email'>
              <a href="mailto:{{email}}">{{email}}</a>
            </span>
          </div>
        {{/if}}
        {{#if url}}
          <div>
            <span class='url'>
              <a href='{{url}}'>{{url}}</a>
            </span>
          </div>
        {{/if}}
        {{#if city}}
          <div>
            <span class='address'>{{city}}, {{STATE_ABBREVIATION_TO_FULL_NAME region}}</span>
          </div>
        {{/if}}
      </div>

      {{#if profiles.length}}
      <div> 
      {{!-- <div style="padding-top: 5px; display: flex; flex-direction: column; align-items:flex-start; text-align: left;"> --}}
        {{!-- note: this will be hidden, here to enable any automated parsing of content --}}
        {{!-- <div class='display-none'> --}}
          {{#each profiles}}
            {{#if url}}
              <div> 
              {{!-- <div style="font-size: 10px; padding: 0; margin: 0;"> --}}
                {{!-- {{#ifEquals network "GitHub"}}
							<img src="GitHub-Mark-120px-plus.png" style="height: 1.25em" />
              blub
                {{/ifEquals}}
                {{#ifEquals network "LinkedIn"}}
              <img src="LI-In-Bug.png" style="height: 1.25em" />
			          {{/ifEquals}} --}}
                <a style="color: #004687" href='{{url}}'>{{url}}</a>
              </div>
              {{#unless @last}}{{/unless}}
            {{/if}}
          {{/each}}
        {{!-- </div> --}}
      </div>
      {{/if}}

    </div>
  </div>

{{/resume.basics}}
