{{#if resume.education.length}}
  <div id='education' class='section-block'>
    <div class='section-intro'>
      <div class='section-name'>
        <span>EDUCATION</span>
      </div>
      <div class='section-intro-line'></div>
    </div>
    <div class='section-content'>
      {{#each resume.education}}
        <div class='block-header'>
          <span class='title'>{{institution}}</span>
          {{#if startDate}}
            <span class='date'>
              {{#if startDate}}<span style="text-align: end;" >{{MONTH_YEAR startDate}}</span>{{/if}} &mdash;
              {{#if endDate}}<span style="width: 63px; text-align: start; display: inline-block;" >{{MONTH_YEAR endDate}}</span>
              {{else}}<span style="width: 63px; text-align: start; display: inline-block;" >Present</span>{{/if}}
            </span>
          {{/if}}
          <div class=''>
            {{#if studyType}}{{studyType}} {{/if}} - {{#if area}}{{area}}{{/if}}{{#if score}}, GPA: {{score}}{{/if}}
          </div>
        </div>
        {{#unless @last}}
          <div class='separator'></div>
        {{/unless}}
      {{/each}}
    </div>
  </div>
  <div class='section-line'></div>
{{/if}}
